@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

body {
  margin: 0;
  /* font-family: 'Helvetica'; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #cee5d0;
  font-family: 'Source Sans Pro', sans-serif;
  color: #000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.footer {
  display: flex;
  justify-content: center;
  font-size: 12px;
}



/* LOGIN PAGE */

main,
h3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  font-size: 30px;
}



.login-form {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  border-radius: 5px;
  background-color: 000;
  margin-top: 20px;
  padding: 20px;
  width: 300px;
  height: 100%;
  text-align: center;
  background-color: #f3f0d7;
}

label {
  font-size: 18px;
  font-weight: normal;
}


#username,
#password {
  font-size: 15px;
  padding: 5px;
  text-align: center;
  align-items: center;
  margin: 15px 50px;
}

.error {
  font-size: 15px;
  font-weight: normal;
  color: red;
}

.submit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
  height: 40px;
  width: 100px;
  text-align: center;
  background-color: #fed2aa;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.register-link {
  font-size: 15px;
  font-weight: normal;
  color: #000;
  padding: 35px 0px;
  text-decoration: none;
}

.register-link:hover {
  text-decoration: underline;
}

/* MAIN PAGE */

/* .main-container h1 {
  font-size: 30px;
}

.main-container h2 {
  font-size: 25px;
}

.main-container h3 {
  font-size: 20px;
}

.main-container p {
  font-size: 15px;
  font-weight: normal;
} */

/* FILTER COMPONENT */

.filter {
  display: flex;
  justify-content: center;
  font-size: 15px;
}

/* BEACHES COMPONENT */

.beaches-img {
  width: 250px;
  height: 200px;
  padding: 20px;
}

.beaches-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.beaches-boxes {
  margin-top: 50px;
  margin: 20px;
  padding: 20px;
  background-color: #f3f0d7;
}



.beaches-boxes h2 {
  font-size: 20px;
  text-align: center;
  margin: 0px;
}

.beaches-boxes h3 {
  font-size: 14px;
  text-align: center;
  margin-top: 0px;
}

.beaches-boxes a {
  color: #000;
  text-decoration: none;
}

.beaches-boxes a:hover {
  text-decoration: underline;
}

/* SINGLEBEACH COMPONENT */

.single-beach,
.img-logo {
  display: flex;
  flex-direction: column;
}

.single-beach h1 {
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0px;
}

.beach-img {
  width: 350px;
  height: 200px;
  margin: 20px;
  border: 2px solid #fff;
}

.single-beach h2 {
  font-size: 13px;
  font-weight: normal;
  margin: 0px 3px 10px 2px;
  text-align: center;
}

.single-beach p {
  font-size: 16px;
  text-align: center;
  margin: 20px 40px 60px 40px;
}

/* REVIEW PAGE */

.review-form {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background-color: 000;
  padding-bottom: 40px;
  width: 300px;
  text-align: center;
}
::placeholder{
  font-family:'Source Sans Pro', sans-serif;
  font-size: 16px;

}
.input {
  font-family:'Source Sans Pro', sans-serif;
  font-size: 35px;
}


textarea {
  margin: 15px 0 10px;
  height: 100px;
  width: 100%;
  box-sizing: border-box;
}

.review-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  padding: 20px;
  height: 40px;
  width: 200px;
  text-align: center;
  background-color: #fed2aa;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.review-feed {
  background-color: #acc0ad;
  height: 100%;
  width: 400px;
}

.review-feed h3 {
  font-size: 20px;
  text-align: center;
  padding: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0px;
  padding: 15px;
}

.review-box {
  background-color: #ffffff;
  border: 1px solid black;
  margin: 10px;
}

.message-text {
  padding: 10px 10px;
  min-height: 100px;
  font-size: 15px;
  font-weight: normal;
}

.review-box,
.message-text {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-between;
}

.date {
  /* display: flex; */
  font-size: 12px;
  color: rgba(0, 0, 0, 0.3);
}

.delete-button {
<<<<<<< HEAD
  cursor: pointer;
}

.review-form {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background-color: 000;
  margin-top: 20px;
  padding: 20px;
  width: 300px;
  height: 400px;
  text-align: center;
=======
  border: none;
  background: none;
  cursor: pointer;
}

.date-delete {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
>>>>>>> main
}


