@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

body {
  margin: 0;
  /* font-family: 'Helvetica'; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #cee5d0;
  font-family: 'Source Sans Pro', sans-serif;
  color: #000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.footer {
  display: flex;
  justify-content: center;
  font-size: 12px;
}

/* HEADER */
.header {
  background-color: lightyellow;
}

.header ul,
li a {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  text-decoration: none;
  align-items: center;
}

.header a {
  margin: 20px;
}

/* LOGIN PAGE */

main,
h3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  font-size: 30px;
}

.logo-img {
  display: flex;
  flex-direction: row;
  height: 120px;
  margin-top: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  border-radius: 5px;
  background-color: 000;
  margin-top: 20px;
  padding: 20px;
  width: 300px;
  height: 400px;
  text-align: center;
  background-color: #f3f0d7;
}

label {
  font-size: 18px;
  font-weight: normal;
}

input,
#username,
#password {
  font-size: 15px;
  padding: 5px;
  text-align: center;
  align-items: center;
  margin: 15px 50px;
}

.error {
  font-size: 15px;
  font-weight: normal;
  color: red;
}

.submit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
  height: 40px;
  width: 100px;
  text-align: center;
  background-color: #fed2aa;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.register-link {
  font-size: 15px;
  font-weight: normal;
  color: #000;
  padding: 35px 0px;
  text-decoration: none;
}

.register-link:hover {
  text-decoration: underline;
}

/* MAIN PAGE */

/* .main-container h1 {
  font-size: 30px;
}

.main-container h2 {
  font-size: 25px;
}

.main-container h3 {
  font-size: 20px;
}

.main-container p {
  font-size: 15px;
  font-weight: normal;
} */

.head-contatiner h1 {
  margin-top: 50px;
}

/* FILTER COMPONENT */

.filter {
  display: flex;
  justify-content: center;
  font-size: 15px;
}

/* BEACHES COMPONENT */

.beaches-img {
  width: 250px;
  height: 200px;
  padding: 20px;
}

.beaches-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.beaches-boxes {
  margin: 20px;
  padding: 20px;
  background-color: #f3f0d7;
}

.head-contatiner h1 {
  font-size: 30px;
  text-align: center;
}

.beaches-boxes h2 {
  font-size: 20px;
  text-align: center;
  margin: 0px;
}

.beaches-boxes h3 {
  font-size: 14px;
  text-align: center;
  margin-top: 0px;
}

.beaches-boxes a {
  color: #000;
  text-decoration: none;
}

.beaches-boxes a:hover {
  text-decoration: underline;
}

/* SINGLEBEACH COMPONENT */

.single-beach,
.img-logo {
  display: flex;
  flex-direction: column;
}

.single-beach h1 {
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0px;
}

.beach-img {
  width: 350px;
  height: 200px;
  padding: 10px;
}

.single-beach h2 {
  font-size: 13px;
  font-weight: normal;
  margin: 0px 3px 10px 2px;
  text-align: center;
}

.single-beach p {
  font-size: 16px;
  text-align: center;
  margin: 20px 40px 60px 40px;
}

/* REVIEW PAGE */

form {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background-color: 000;
  margin-top: 20px;
  padding: 20px;
  width: 300px;
  height: 400px;
  text-align: center;
}

.review-form {
  background-color: #f3f0d7;
}

/* BURGER */

/* .bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

.bm-burger-bars {
  background: #000;
} */

/* .bm-menu-wrap {
    visibility: hidden;
  }
  
  .bm-menu-wrap.open {
    visibility: visible;
  } */

/* .bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-item-list {
  padding: 0.8em;
}

.bm-item {
  display: block;
  color: #bdc3c7;
} */
