body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.footer {
  background-color: lightblue;
}

.header {
  background-color: lightyellow;
}

/* REVIEW PAGE */
.single-beach {
  background-color: lightgray;
}

.review-form {
  background-color: lightgray;
}

/* MAIN PAGE */

.main-container h1 {
  font-size: 30px;
}

.main-container h2 {
  font-size: 25px;
}

.main-container h3 {
  font-size: 20px;
}

.main-container p {
  font-size: 15px;
  font-weight: normal;
}
